/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}

header {
    background-color: #333;
    color: #fff;
}

header .logo {
    float: left;
}

img {
    height: 65px;
    width: 65px;
    border-radius: 5px;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section#hero {
    background-image: url('./img/class.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

section#hero h1 {
    font-size: 36px;
    margin: 0px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ccc;
}
